<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd">
        <context:property-placeholder location="application.properties"/>

        <bean id="personId"
              class="org.example.Person">
        <property name="animal" ref ="popugayId"/>
            <property name="age" value ="${person.age}"/>
            <property name = "name" value=" ${person.name}"/>

        </bean>

        <bean id="popugayId"
              class="org.example.Popugay">
            <property name="colour" value="${popugay.colour}"/>
            <property name="breed" value="${popugay.breed}"/>
            <property name="name" value="${popugay.name}"/>
        </bean>

    <bean id="FriendId"
          class="org.example.Person">
        <property name="animal" ref ="catId"/>
        <property name="age" value ="${friend.age}"/>
        <property name = "name" value=" ${friend.name}"/>

    </bean>

        <bean id="catId"
              class="org.example.Cat">
            <property name="name" value="${cat.name}"/>
            <property name="breed" value="${cat.breed}"/>
            <property name="colour" value="${cat.colour}"/>
        </bean>






</beans>




